/* dashboard css */

.card {
    margin-bottom: 20px;
}

/* navbar css */

.navbar-brand > span {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px !important;
}

.nav-menu-link {
    color: #000 !important;
    font-size: 16px;
    font-weight: 600;
}

.nav-menu-link:hover {
    color: #0069d9 !important;
}

#authButton a {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

/* students and subjects page */

.student-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.img-preview {
    max-width: 60px;
    max-height: 60px;
    padding: 0px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}

.pagination {
    width: fit-content;
    margin: 0 auto;
}

.form-check,
.form-check-inline,
.form-check-block {
    user-select: none !important;
}

.subjects-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.pagination {
    width: fit-content;
    margin: 0 auto;
}

/* login page */

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group #togglePassword {
    position: absolute;
    right: 15px;
    top: calc(70% - 5px);
    cursor: pointer;
}

#loginErrorMessage {
    color: red;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}


/*  */

.student-login-form {
    height: 100vh;
    max-width: 400px !important;
    margin: 50px auto !important;
}

.modal-dialog {
    max-width: 800px !important;
    width: 100% !important;
}