body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group #togglePassword {
    position: absolute;
    right: 15px;
    top: calc(70% - 5px);
    cursor: pointer;
}

#loginErrorMessage {
    color: red;
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}
